body{
    background-color:#ffffff;   
    max-width: 960px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 ;
}

.siteheadercss{
    margin:10px;
    line-height:25px;

}

.maincss{
    border-top: 2px solid #47A4A5;
    border-bottom: 2px solid #47A4A5;
    margin-top:10px;
    margin-bottom:10px;
    padding-bottom:20px;
    background-color:#F0FAFA;
}

.clear{
    clear:both;
    height:0px;
}

.operatecontainer{
    margin:20px auto 30px auto;
    width:300px;
    height:33px;
}

.operatecss{
    width:120px;
    margin-left:20px;
    display:inline-block;
    float:left;
    background-color:#47A4A5;
    color:#ffffff;
}

.operatecss2{
    width:120px;
     margin-left:20px;
    background-color:#E47D69;
    color:#ffffff;
}

.file_progressbar{
    background-color:#5a5a54;
    width:0;
    height:18px;
}

.file_progressbar_bg{
    background-color:#ffffff;
    width:auto;
    margin-top:5px;
    border:inherit;
    border-radius:3px 3px 3px 3px;
}

.filelistcontainer{
    background-color:#F0FAFA;
        margin-right:10px;  
    margin-left:10px;    
}

.filelistwrapper{
    margin-top:10px;
    margin-bottom:10px;
    /*background-color:#ffffff;*/
    margin-left:0px;
    position:relative;
    background-image:url("../Images/squared_metal.png");
}

.imagecss{
    width:150px;
    height:100px;
    margin:5px auto;
    position:relative;
    cursor:pointer;
}

.file_slide_container{
    width:100%;
    position:relative;
    padding-left:10px;
    padding-right:10px;
}

#mergefiles{
    display:block;
    width:170px;
    margin:0 auto;
}

.slideitem{
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;   
    border-radius: 4px;
    border-color: #5a5a54;
    border:1px solid #5a5a54;
    width:80%;
    /*height:160px;*/
    min-height:160px;
    background-color:#40A1A2;
    color:#ffffff;
}

.slideitem2{
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;   
    border-radius: 4px;
    border-color: #ccc;
    border:1px solid #ccc;
    width:80%;
    /*height:160px;*/
    min-height:160px;
    background-color:#FFF0ED;
    color:#000000;
}

.slideitemempty{
        width:100%;
    /*height:160px;*/
    margin-top:10px;
    margin-bottom:10px;
    min-height:174px;
}

.desctext{
    width:100%;
    font-size:20px;
    font-weight:bold;
    color: #C5C5C5;
    text-align:center;
    top:60px;
    height:30px;
    position:absolute;
}

.slide-right{
   
}

.slide-title-css{
    width:120px;
    height:25px;
    font-size:6px;
    line-height:25px;
    margin-left:5px;
    margin-top:5px;
    /*color:#ffffff;*/
    float:left;
}

.slide-botton-css{
    text-align:center;
    margin: 5px 0px;
    height:20px;
    line-height:20px;
    width:auto;    
    text-align:center;
    color:#000000;
    border-radius:4px ;
    background-color: #FFDB84;
    cursor:pointer;
}

.slide-wait-botton-css{
    text-align:center;
    margin: 5px 0px;
    height:20px;
    line-height:20px;
    width:auto;    
    text-align:center;
    color:#000000;
    border-radius:4px ;
    background-color: #ffffff;
}


.slide-close-css{
    background-image:url("../Images/close.png");
    background-repeat:no-repeat;
    width:16px;
    height:16px;
    cursor:pointer;
    float:right;
    margin-top:5px;
    margin-right:0px;
    margin-bottom:4px;
}

.slide-compres-css{

    width:100%;
    color:#000000;
    text-align:center;
    top:70px;
    position:absolute;
    overflow:hidden;
    font-weight:bold;
    font-size:30px;
    opacity:0.6;
    cursor:pointer;
    /*z-index:50;*/
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}

.slide-image-bg-css{
    background: url("../Images/grid.png") repeat;
    /*height:140px;*/
    /*margin-top:25px;*/
    margin: 5px auto;
    clear:both;
    overflow:hidden;
    border:1px solid #ccc;
}

#previewcontainer{
    position:relative;
    margin: 10px auto;
    background-color:#F0FAFA;
    overflow:hidden;
}

#container1{
    float:left;
    width:43.5%;
    /*margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;*/
    margin:10px 0.6%;
}

#container2{
    float:left;
    width:43.5%;
    /*margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;*/    
    margin:10px 0.6%;
}

#containerconfig{
    float:left;
    width:8.4%;
    margin:10px 0.6%;
    /*min-width:60px;*/
}

.previewpic1{
    height: 300px;
    overflow: hidden;
    border: 1px solid #CCCCCC;
    background: #FFFFFF url(../Images/grid.png) repeat;
    /*position: relative;*/
    margin:0px auto;
    width:100%;
}



.smooth_zoom_preloader {
		background-image: url(../Images/preloader.gif);
	}	
	
.smooth_zoom_icons {
		background-image: url(../Images/icons.png);
	}


#footer {
    clear:both;
    position:relative;
    color: #999999;
    font-size: 0.9em;
    padding: 0 0 20px 0;
    margin:10px auto;
    text-align:center;
}

#like-it{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 10px;
    color: #414141;
}

.configvaluecss{
    border:1px solid #CCCCCC;
    border-radius:4px;
    padding:0px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    color:red;
    margin:5px auto;
     width:50px;
}

.configtypecss{
    color:#000000;
    font-weight:bold;
    font-size:16px;
    text-align:center;
    margin:5px auto;
   
}

.configaddcss{
    border:1px solid #CCCCCC;
    border-radius:4px;
    padding:0px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    margin:0px auto;
    width:25px;
    height:25px;
    line-height:25px;
    color:#cccccc;
    cursor:pointer;
}

.configapplycss{
     color:#ffffff;
    font-weight:bold;
    font-size:12px;
    text-align:center;
    margin-top:15px;   
   background-color:#7A7A7A;
   border:1px solid  #7A7A7A;
   border-radius:4px;
   height:30px;
   padding-bottom:0px;
   padding-top:0px;
   opacity:0.7;
   line-height:30px;
}

#configSlider{
    height:150px;
}

#configSlider .slider-selection {
	background: #BABABA;
    border-color:#999999;
}

#configSlider .slider-track-high{
    background:#CCCCCC;
}

.clear{
    clear:both;
    height:0px;
    overflow:hidden;
}

.status-wrapper {
    width: 150px;
    height: 100px;
    display: block;
     margin: 5px auto;
    background-color: #FFFFFF;
}

.status-icon {
    background: transparent url("../Images/status-icons.png") no-repeat scroll left top;
    display: block;
    width: 37px;
    height: 37px;
    opacity: 0.7;
    position: absolute;
    top: 50px;
    left: 70px;
    /*z-index: 100;*/
}

.status-uploading {
    background-position: -232px 0px;
}

.status-text {
    text-align: center;
    overflow: hidden;
    color: #000000;
    font-weight: bold;
    position: absolute;
    top: 90px;
    /*z-index: 100;*/
    width: 150px;
    opacity: 0.7;
    letter-spacing: 1px;
}