<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta charset="utf-8" />
        <title>My ASP.NET MVC Application</title>        
		<link rel="stylesheet" type="text/css" href="~/Content/swiper-3.4.2.min.css" />
	    <link rel="stylesheet" type="text/css" href="~/Content/main.css" />
    </head>
    <body>

	<div id="container">
		<a class="btn btn-default" id="pickfiles" href="javascript:;">aa</a>
		<a class="btn btn-default" id="cleanfiles" href="javascripts:;">bb</a>

		<div id="filelistcontainer" class="swiper-container">
			<div id="filelist" class="swiper-wrapper">
				<div class="swiper-slide" style='width:160px;height:160px;'><img class="imagecss" src="/temps/0y6ovl7xgs8mrt08/0.jpg" /></div>
				<div class="swiper-slide" style='width:160px;height:160px;'><img class="imagecss" src="/temps/0y6ovl7xgs8mrt08/9b2114223dd830afbcc88396e0a314fe.png" /></div>
				<div class="swiper-slide" style='width:160px;height:160px;'><img class="imagecss" src="/temps/0y6ovl7xgs8mrt08/1080x1920.png" /></div>
				<div class="swiper-slide" style='width:160px;height:160px;'><img class="imagecss" src="/temps/0y6ovl7xgs8mrt08/mmqrcode1486263461084.png" /></div>
			</div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>


	</div>

	<script src="~/Scripts/swiper-3.4.2.min.js" ></script>
	<script src="~/Scripts/upload.js" type="text/javascript"></script>

	</body>

	</html>